
*{
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #c2bdbd;
    
}  

.flex-child:first-child {
    
    flex: 2;
    padding: 40px 0px 0px 60px;
    background-color: #c2bdbd;
} 
.heading1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.heading2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #5a5959;
}

.list{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list > li{
    padding: 6px;
    color: #5a5959;
}

.section {
    display: flex;
    margin-top: 30px;
}

.child {
    flex: 1;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}  

.child:nth-child(2) {
    margin-right: 20px;
    flex: 2;
    padding: 40px 0px 0px 60px;
    border-left: 2px solid black;
} 
.edu{
    padding: 40px 0px 20px 40px;
    margin-right: 40px;
    
}
.education{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.obj{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.every{
    color: #646363
}
.education > h3{
    margin-bottom: 8px;
}
.obj > h2{
    margin-bottom: 8px;
}